*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

#btn{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgb(228, 106, 106);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

table, td{
    border: 3px solid rgb(151, 234, 200);
    margin: auto;
    width: 50%
}

td{
    width: 43%;
}

td img{
    width: 100px;
}
